:root {
  --subColor: rgb(252, 252, 252);
  --barColor: rgb(37, 37, 4);
  --borderValue: 0.4px solid black;
  --commonButtonSize: 14.5px;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./Components/assets/backgroundImage.png')
    no-repeat;
  background-size: cover; /* Adjust as needed */
  background-position: center;
}

.Container h1 {
  position: relative;
  top: 20px;
  color: var(--subColor);
  text-align: center;
  font-size: 30px;
}

form {
  padding: 40px 20px;
  width: 420px;
  background-color: var(--barColor);
  border-radius: 20px;
}

.Container .Input-box {
  position: relative;
  width: 100%; /*Input Bar*/
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 30px 0;
}

.Input-box input {
  width: 100%;
  height: 2.5rem;
  background: transparent;
  border: none;
  outline: none;
  border: var(--borderValue);
  border-radius: 40px;
  color: var(--subColor);
  padding: 0 0 0 0.98rem;
}

input::placeholder {
  margin: 5px;
  text-align: center;
  letter-spacing: 4px;
  color: var(--barColor);
}

.Input-box .Icon {
  position: absolute;
  top: 40%;
  right: 0.96rem;
  transform: translateY(-52%);
}

.Container .RememberMe {
  display: flex;
  justify-content: space-between;
  font-size: var(--commonButtonSize);
  margin: -15px 0 10px;
  padding: 0 1rem;
}
.RememberMe input[type="checkbox"] {
  margin-right: 5px;
}
.Container label {
  color: var(--subColor);
}
.Container a {
  color: var(--subColor);
}
.Container button {
  /*|Login Button */
  width: 100%;
  height: 2.5rem;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  border: var(--borderValue);
  background-color: var(--barColor);
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}
.Container .CreateAccount {
  padding: 10px 15px;
  font-size: var(--commonButtonSize);
  text-align: right;
}
